:root {
  --c-cssvar-ffffff: #ffffff;
  --c-cssvar-000000: #000000;
  --c-cssvar-font-size: 90pt;
  --c-cssvar-font-family: 'Noto Sans', sans-serif;
  --c-cssvar-font-weight: 100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-cssvar-ffffff: #000000;
    --c-cssvar-000000: #ffffff;
  }
}
